{% extends 'layout.twig' %}
{% block title %}Home{% endblock %}

{% block content%}
	
     <div class="filme-item">
      <h2>Title Filme</h2>
      <p>Ano de lançamentoe autor</p>
      <img src="assets/img/upload/the-host.jpeg" alt="">
      <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
    </div>
    <div class="filme-item">
      <h2>Title Filme</h2>
       <p>Ano de lançamentoe autor</p>
      <img src="assets/img/upload/oldguard.jpeg" alt="">
       <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
    </div>
    <div class="filme-item">
      <h2>Title Filme</h2>
       <p>Ano de lançamentoe autor</p>
      <img src="assets/img/upload/ava.jpeg" alt="">
       <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
    </div>
    <div class="filme-item">
      <h2>Title Filme</h2>
       <p>Ano de lançamentoe autor</p>
      <img src="assets/img/upload/traicao-inici.jpeg" alt="">
       <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
    </div>
    <div class="filme-item">
      <h2>Title Filme</h2>
       <p>Ano de lançamentoe autor</p>
      <img src="assets/img/upload/warcraft.jpeg" alt="">
       <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
    </div>

    <div class="filme-item">
      <h2>Title Filme</h2>
       <p>Ano de lançamentoe autor</p>
      <img src="assets/img/upload/warcraft.jpeg" alt="">
       <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
    </div>

    <div class="filme-item">
      <h2>Title Filme</h2>
       <p>Ano de lançamentoe autor</p>
      <img src="assets/img/upload/traicao-inici.jpeg" alt="">
       <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
    </div>
{% endblock %}